.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 18px;
    line-height: 1.42857143;
    vertical-align: top;
    /* border-top: 1px solid #ddd; */
}
#exampleModal {
    background-color: #000000;
    opacity: 0.9;
    padding-top: 6%;
}
.icon {
    font-size: 22px;
}
.edit_icon {
    color: #008000;
}
.remove_icon {
    color: red;
}
.pay_select label {
    width: 72%;
}
.modal-dialog_lg {
    max-width: 800px !important;
}
.modal-body input {
    border: 1px solid #bbbbbb;
}
.wel_mess {
    font-size: 82px;
    text-align: center;
    color: #00a855;
    padding-top: 10%;
    margin: auto;
}
.nav-link.dropdown {
    margin: auto;
    text-align: center;
    width: 72%;
}
.input-group input {
    border: 1px solid #ddd !important;
    border-radius: 6px !important;
}
.teacher_btn {
    text-align: center;
}
.teacher_btn .btn-group.btn-group-lg .btn {
    font-size: 28px;
}
.teacher_btn .btn-group.btn-group-lg .btn a {
    color: #ffffff;
}
.tec_sec_info {
    background: #000;
    opacity: 0.7;
    padding: 50px;
    color: #fff;
}
.auth.auth-bg-2 {
    background: url("../images/auth/login_2.jpg");
    background-size: cover;
}
.btn-group .btn a {
    color: #ffffff;
}
.atd_card {
     padding: 50px 20px !important;
 }
.hed {
    text-transform: uppercase;
    padding: 50px;
    color: red;
}
.col_center {
    margin: auto;
    float: none;
}
.menu_icon span {
    font-size: 14px;
}
.select_class_all {
    background: #000000;
    padding: 48px 100px;
    color: #ffffff;
    opacity: 0.6;
}
.info_bg {
    color: #ffffff;
    background: #000;
    opacity: 0.6;
}
ul.all_info li {
    list-style: none;
}
.info_title {
    font-size: 18px;
    text-transform: uppercase;
}
.info_common {
    font-size: 16px;
    padding-left: 75px;
}
ul.all_info li {
    list-style: none;
    border: 1px dotted yellow;
}
